<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Главная страница</title>
</head>
<body>
{% if username %}
    <h1>Привет, {{ username }}!</h1>
    <p>
        {% if github_url %}
            Ссылка на ваш профиль на <a href="{{ github_url }}">github</a>.
        {% else %}
            Ваш аккаунт не привязан к github.
        {% endif %}
    </p>
    <p>
        {% if age %}
            Ваш возраст: {{ age }}
        {% else %}
            Возраст не указан. Необходимо заполнить профиль полностью.
        {% endif %}
    </p>
    <p><a href="profile-edit/">Редактировать профиль</a></p>
	<p>Тут ты можешь <a href="logout">выйти</a>.</p>
    <p>В библиотеке отсутствуют книги.</p>
{% else %}
    <p>Тебе нужно <a href="register/">зарегистрироваться</a> или <a href="login">войти на сайт</a>!</p>
    <p>Библиотека доступна только зарегистрированным пользователям.</p>
{% endif %}
</body>
</html>